
BarberShop/public/contacts.txt
BarberShop/public/users.txt
BarberShop/BarberShop.sqlite
BarberShop/barbershop.db

BarberShopHQ/barbershop.db

FirstBlog/blog.db

iDeliver/Report.html
iDeliver/Report.txt

# Lunches
# ---------------------------------------------------------
# Ignore bundler config.
Lunches/.bundle

# Ignore the default SQLite database.
Lunches/db/*.sqlite3
Lunches/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
Lunches/log/*
Lunches/tmp/*
Lunches/!/log/.keep
Lunches/!/tmp/.keep

# Ignore uploaded files in development
Lunches/storage/*

Lunches/node_modules
Lunches/yarn-error.log

Lunches/public/assets
Lunches/.byebug_history

# Ignore master key for decrypting credentials and more.
Lunches/config/master.key

Lunches/.rubocop.yml
Lunches/.rubocop_todo.yml
Lunches/public/uploads
# ---------------------------------------------------------

PizzaShop/pizzashop.db

# poly-demo
# ---------------------------------------------------------
# Ignore bundler config.
poly-demo/.bundle

# Ignore the default SQLite database.
poly-demo/db/*.sqlite3
poly-demo/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
poly-demo/log/*
poly-demo/tmp/*
poly-demo/!/log/.keep
poly-demo/!/tmp/.keep

poly-demo/node_modules
poly-demo/yarn-error.log

poly-demo/.byebug_history
# ---------------------------------------------------------

# RailsFirstBlog
# ---------------------------------------------------------
# Ignore bundler config.
RailsFirstBlog/.bundle

# Ignore the default SQLite database.
RailsFirstBlog/db/*.sqlite3
RailsFirstBlog/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
RailsFirstBlog/log/*
RailsFirstBlog/tmp/*
RailsFirstBlog/!/log/.keep
RailsFirstBlog/!/tmp/.keep

RailsFirstBlog/node_modules
RailsFirstBlog/yarn-error.log

RailsFirstBlog/.byebug_history

RailsFirstBlog/.rubocop_todo.yml
# ---------------------------------------------------------