<div class="container">

	<h2><p class="text-center"><%= t('page_404.page_not_found') %></p></h2>

	<h4><p class="text-center"><%= t('page_404.details') %></p></h4>

	<p class="text-center">
		<button type="button" class="btn btn-default btn-lg">
		  <%= link_to t('page_404.button'), articles_path %>
		</button>
	</p>

</div>