<div class="container">
	<h2><%= t('about_us') %></h2>

	<br>

	<address>
	  <strong>Super Rails Blogs (No), Inc.</strong><br>
	  1337 Mark Street, Suite 227<br>
	  Son Franckin, CA 11103<br>
	  <abbr title="Phone">P:</abbr> (880) 555-3535
	</address>

	<address>
	  <strong>Super Rails Blogs (No)</strong><br>
	  <a href="mailto:#">SBR.N@example.com</a>
	</address>
</div>