
<address>
  <strong>MrLin`s, Inc.</strong><br>
  1377 Puskin street, Suite 322<br>
  San Puticisco, CA 91199<br>
  <abbr title="Phone">P:</abbr> (345) 467-2789
</address>

<!-- <address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address> -->