<!DOCTYPE html>
<html>
	<head>
		
	</head>

	<body>
		<form action='/contacts' method="POST">
		  <div class="form-group">
		    <label>Имя</label>
		    <input name="contacts_name" type="text" class="form-control" placeholder="Имя" required="true">
		  </div>

		  <div class="form-group">
		    <label>Email</label>
		    <input name="contacts_email" type="text" class="form-control" placeholder="email" required="true">
		  </div>

		  <div class="form-group">
			<textarea name="contacts_text" required="true">
			</textarea> 
		  </div>

		 	<input type="submit" class="btn btn-primary" value="Отправить">
		</form>

	</body>

	</body>
</html>