<h2> Add new post</h2>

<form action="/new" method="POST">
  <input type="text" name="author" class="form-control" placeholder="Type you name here" required="true">
  <hr>
  <textarea name='content' class="form-control" rows="6" placeholder="Type post text here" required="true"></textarea>
  <br>
  <button type="submit" class="btn btn-success">Submit</button>

</form>